<!DOCTYPE html>
<html lang="en">
  {% load static %}

<head>
<meta charset="UTF-8">
<title>VA-NORN | addmenu</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body style="background-color: rgb(207, 179, 102); text-align: center;">
<img src="media\images\vanornlogo.png" style="width: 10%;">
<form method = "post" enctype="multipart/form-data"  style="text-align: center;">
  {% csrf_token %}
  {{ menu.as_p }}
  <button type="submit">Upload</button>
</form>

</body>
</html>