<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->

{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>XXX Restaurant</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    </head>


    <body >
        <header>
            <nav class="header1">
                <img src="media\images\vanornlogo.png" class="logo">
                <ul class="nav-links">
                    <li><a href="">Bills</a></li>
                    <li><a href="">Menus</a></li>
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">Contact</a></li>
                    <li><a href="/signin">Sign in</a></li>
                </ul>
            </nav>
        </header>
        <div class="container">

        <br>Order success

    </div>
    <footer class="footer">
        <h5>ติดตามความเคลื่อนไหวและโปรโมชั่นได้ที่</h5>
        <p>
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
        </p>
    </footer>
    </body>
</html>