<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <div class="container">
            <img src="{% static '/image/Asset 4.png' %} " style="width:100%;" ><br>
            <img src="{% static '/image/Asset 2.png' %}"style="width:70%;"><br>
        </div>
        <form  method="post" style="width:100%;text-align:center">
            {% csrf_token %}
            <h1>FORGET PASSWORD</h1>

            <input type="text" name="password1" id="password1" placeholder="NEW PASSWORD" style="background-image:url({% static '/image/boxinput.png' %});" Required>
            <br><br>
            
            <input type="text" name="password2" id="password2" placeholder="CONFIRM PASSWORD" style="background-image:url({% static '/image/boxinput.png' %});" Required>
            <br><br>
            
            <button type="submit"class="button-tran"><img src="{% static 'image/loginbutton.png' %}"style="width:50%;"></button>
            


        </form>
        <script src="" async defer></script>
                </div>

    </body>
</html>